main{
    position: absolute;
    top: 60px;
    width: 100%;
    min-height: 100vh;
    background: var(--clr-white);
    display: flex;
    flex-direction: column;
    background: red;

}
section{
    background-color: aqua;
    border-bottom: 2px solid black;
    display: flex;
}